.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 34px;
  margin: 0 2rem;

  & div {
    text-align: center;

    &:last-child {
      border: none;
    }

    & h2, & p {
      margin: 0px;
      font-size: clamp(1rem, 9vw, 3rem);
    }

  }
}