.body {
  margin: 0;
  text-align: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
  background: var(--color-theme-blue);
  color: var(--color-white);
  flex: 1;
  padding: 2rem;

  .text {
    margin: 0;
    margin-bottom: 7rem;
    font-size: clamp(1rem, 9vw, 5rem);
    font-family: Crimson Pro;
    font-style: italic;

    p {
      margin: 0;
    }
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 0;
  }

  img {
    border-radius: 2rem;
    max-width: 600px;
  }
}

@media (pointer:none), (pointer:coarse) {
  .body {
    position: absolute;
    display: flex;
    inset: 0;
    padding: 0;
    --text-shadow-color: white;
    text-shadow: 2px 2px 3px #0000006e;
  }

  .left {
    z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left,
  .right {
    position: absolute;
    inset: 0;
  }

  .text {
    margin-bottom: 2rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 !important;
    max-width: unset !important;
  }
}