.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  main {
    flex: 1;
    background: var(--color-white);
    color: var(--color-theme-blue);
    display: flex;
    overflow-y: auto;
    position: relative;
  }
}