.header {
  background: var(--color-pure-white);
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-theme-dark-blue);
    font-size: x-large;
    font-family: Crimson Pro;
    font-style: italic;
    font-weight: 600;
  }

  h1 {
    text-align: center;
    margin: 0;
    font-size: 4rem; 
    color: var(--color-text-primary);
    font-family: Ephesis, cursive;
  }

  button {
    padding: 0.5rem 1rem;
  }
}
