.header {
  background: var(--color-pure-white);
  display: flex;
  align-items: center;
  gap: 2rem;

  a {
    text-decoration: none;
    color: var(--color-theme-dark-blue);
    font-size: x-large;
    font-family: Crimson Pro;
    font-style: italic;
    font-weight: 600;
    flex: 1;
    text-align: center;
  }

  p {
    display: inline-block;
    position: relative;
    margin: 1rem;
  }

  p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-theme-dark-blue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  :global(.active) p::after,
  a:hover p::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  h1 {
    text-align: center;
    margin: 0;
    font-size: 4rem;
    color: var(--color-text-primary);
    font-family: Ephesis, cursive;
  }

  button {
    padding: 0.5rem 1rem;
  }
}