.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.left, .right {
  height: 100%;
}

.left {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

.route {
  margin: 1rem 0;
  cursor: pointer;

  span {
    text-decoration: dotted underline;
  }
}

.right {
  flex: 2;
}

.marker {
  color: black
}

.icon {
  vertical-align: middle;
}