@media (pointer:none), (pointer:coarse) {
  .wrapper {
    display: block;
    flex-direction: column;
  }

  .right {
    min-height: 40vh;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;

  h2, p, address, ul {
    margin: 0;
  }

  h2+div {
    margin: 0 0 2rem 0;
  }
}

.left {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

.route {
  margin: 1rem 0;
  cursor: pointer;

  span {
    text-decoration: dotted underline;
  }
}

.right {
  flex: 2;
}

.marker {
  color: black
}

.icon {
  vertical-align: middle;
}