@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

html, body, #root {
  height: 100%;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-white:#F0F0F0;
  --color-black:#0F0F0F;
  --color-pure-white:#FFFFFF;
  --color-theme-blue: #A5B6BE;
  --color-theme-dark-blue: #04161B;

  --color-background:#A5B6BE;

  --color-text-primary:  var(--color-theme-blue);
  --color-text-secondary: var(--color-theme-dark-blue);
  --color-text-tertiary: var(--color-white);

  color-scheme: light dark;
  color: var(--color-text-tertiary);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
