.wrapper {
  max-width: 1200px;
  margin: auto;
}

.faq {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  cursor: pointer;

  input {
    display: none
  }

  input:checked~.answer {
    display: block;
  }

  .question, p {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .answer {
    display: none;
    white-space: preserve;
  }
}

.faq:not(:last-child) {
  border-bottom: 1px solid;
}