.wrapper {
  max-width: 1200px;
  margin: auto;
}

.faq {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  cursor: pointer;

}

.faq:not(:last-child) {
  border-bottom: 1px solid var(--color-white);
}


.answer {
  display: none;
  white-space: preserve;
}
input{
  display: none
} 

label:has(input:checked) .answer {
  display: block;
}

h2, p{
  margin: 0;
  margin-bottom: 0.5rem;
}