.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.faq {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: white;

  input {
    display: none
  }

  label:has(input:checked)~.answer {
    display: block;
  }

  .question {
    margin: -2rem;
    padding: 2rem;
    cursor: pointer;
  }

  .answer {
    display: none;
    white-space: preserve;
  }

  a {
    padding: 1rem 0.2rem;
  }
}